bidict==0.23.1
certifi==2025.1.31
charset-normalizer==3.4.1
comtypes==1.4.10
distlib==0.3.9
filelock==3.16.1
h11==0.14.0
idna==3.10
platformdirs==4.3.6
psutil==7.0.0
pycaw==20240210
python-engineio==4.11.2
python-socketio==5.12.1
requests==2.32.3
simple-websocket==1.1.0
urllib3==2.3.0
virtualenv==20.28.0
websocket-client==1.8.0
WMI==1.5.1
wsproto==1.2.0
